@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
:root {
  --lightgray: #f7f7f7;
  --white: #fff;
  --black: #000;
  --primary: #e07985;  /* rgba(224, 121, 133) */
  --secondary: #615295;  /* rgba(97, 82, 149) */
  --tertiary: #9bb2e1;
  --blue: #8cc9f0;
  --violet: #c79cc8;
  --headings: #636363;
  --text: #737373;
  --borders: #dedede;
  --fontFamily: 'Lato', sans-serif;
  --fontSize: 20px;
  --transition: .3s ease;
}
/***************
basic styles
***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  background-image: linear-gradient(45deg,rgba(224, 121, 133, .97), rgba(97, 82, 149, .97)), url(img/bg.jpg);
  background-position: center;
  background-size: cover;
  line-height: 1.6;
  background-attachment: fixed;
  font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
  font-weight: 300;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  transition: var(--transition);
}
.clearfix {
  padding: 50px;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
h2 {
  font-size: 3rem;
}
h2::after {
  display: block;
  content: '';
  width: 150px;
  height: 2px;
  background: linear-gradient(to right, var(--primary), var(--primary), var(--blue));
  margin: 15px auto 25px auto;
}
button {
  padding: 15px 40px;
  background: transparent;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid var(--borders);
  color: var(--text);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: 1px;
  text-transform: uppercase;
}
button:hover {
  background: var(--lightgray);
}
hr {
  background: var(--borders);
  content: '';
  width: 100%;
  height: 1px;
  border: none;
}
/***************
header
***************/
header {
  text-align: center;
  padding: 100px 0;
  color: var(--white);
}
header h1 {
  color: var(--white);
  font-size: 5rem;
}
header p {
  opacity: 0.8;
}
/***************
main
***************/
main {
  max-width: 1140px;
  margin: auto;
  background: var(--white);
  border-radius: 5px;
  overflow: hidden;
}
/***************
nav
***************/
nav {
  text-align: center;
  background: var(--lightgray);
  padding: 25px 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  background: var(--white);
  margin: 0 20px;
  padding: 10px 20px;
  color: var(--headings);
  font-weight: 300;
  font-size: 1.4rem;
  border-radius: 5px;
}
nav ul li a:hover {
  background: var(--headings);
  color: var(--white);
}
/***************
onama
***************/
#onama article:first-child {
  width: 60%;
  float: left;
}
#onama article:last-child {
  width: 35%;
  float: right;
  padding: 15px;
  border-radius: 50%;
  border: 2px solid var(--lightgray);
}
#onama img {
  width: 100%;
  border-radius: 50%;
}
#onama h2::after {
  margin: 15px 0 25px 0;
}
#onama p {
  padding: 0 0 30px 0;
}
/***************
usluge
***************/
#usluge {
 text-align: center;
}
#usluge article {
  width: 33%;
  float: left;
}
#usluge i {
  font-size: 3rem;
  border: 5px double var(--borders);
  display: inline-block;
  width: 140px;
  height: 140px;
  line-height: 140px;
  border-radius: 50%;
  margin: 30px 0;
  transition: var(--transition);
}
#usluge i:hover {
  border: 5px double var(--text);
}
.fa-code {
  color: var(--primary);
}
.fa-mobile-alt {
  color: var(--secondary);
}
.fa-bullhorn {
  color: var(--blue);
}
#usluge h3 {
  font-style: 2rem;
}
#usluge p {
  font-size: 1.2rem;
  padding: 30px 0;
}
/***************
brojac
***************/
#brojac {
  text-align: center;
}
#brojac div {
  width: 20%;
  float: left;
  margin-top: 30px;
  color: var(--white);
  padding: 20px;
}
#brojac div:nth-child(1){
  background: var(--primary);
}
#brojac div:nth-child(2){
  background: var(--secondary);
}
#brojac div:nth-child(3){
  background: var(--tertiary);
}
#brojac div:nth-child(4){
  background: var(--blue);
}
#brojac div:nth-child(5){
  background: var(--violet);
}
#brojac h3 {
  color: var(--white);
}
#brojac i {
  font-size: 2rem;
}
#brojac article p {
  font-size: 3rem;
}
/***************
cta
***************/
#cta {
  text-align: center;
}
#cta p + button {
  background: var(--blue);
  color: var(--white);
}
#cta p + button:hover {
  background: var(--tertiary);
}
#cta p {
  padding-bottom: 30px;
}
/***************
footer
***************/
footer {
  max-width: 1140px;
  margin: auto;
  color: var(--white);
}
footer h3 {
  color: var(--white);
  font-size: 2rem;
}
footer p {
  opacity: 0.8;
}
footer article:first-child {
  float: left;
  width: 48%;
}
footer article:last-child {
  float: right;
  width: 48%;
}
footer span {
  font-weight: 400;
  margin-right: 50px;
}
footer ul {
  margin-top: 20px;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: var(--white);
  margin-right: 40px;
  font-size: 2rem;
}
footer ul li a:hover {
  opacity: 0.7;
}
footer button {
  background: transparent;
  margin-top: 20px;
  color: var(--white);
  border: 1px solid var(--white);
}
footer button:hover {
  background: var(--blue);
  color: var(--text);
  border: 1px solid var(--blue);
}
/***************
responsive
***************/
@media(max-width: 767px){
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 3rem;
  }
  nav ul li a {
    background: transparent;
    margin: 0px;
    padding: 10px;
    font-size: 1.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  #onama article:first-child,
  #onama article:last-child,
  #usluge article,
  #brojac div,
  footer article:first-child,
  footer article:last-child {
    width: 100%;
    text-align: center;
  }
  #onama article:last-child,
  footer article:last-child {
    margin-top: 30px;
  }
  h2::after {
    width: 100%;
}
  main {
    width: 90%;
  }
  .clearfix {
    padding: 25px;
  }
  button {
    padding: 10px 30px;
    font-size: .8rem;
  }
  footer span {
    margin-right: 20px;
  }
}